SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/auto-power-profile.sh"
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/auto-power-profile.sh"
