/**
 *
 * Colors
 *
 * This line is rewritten by `scripts/theme.sh` — see the `colors` directory
 * for the available schemes.
 *
 **/

/* Import color-scheme from `colors` directory */

@import "~/.config/rofi/colors/catppuccin-latte.rasi"
